.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 15px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transition: none;
  }
}

.nav__notification {
  background-color: tomato;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.5px;
  color: white;
  font-weight: 600;
  font-size: 3px;
  position: absolute;
  left: 12px;
  bottom: 10px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__dot {
  width: 4px;
  height: 4px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7.5px;
  color: white;
  font-weight: 600;
  font-size: 3px;
  position: absolute;
  left: 19px;
  bottom: 18px;
}
